@media (max-width:1050px) {
  .banner-free {
    display: flex;
    flex-direction: column;
    span {
      width: 80%;
      margin-bottom: 10px;
        img {
          display: none;
        }
    }
  }
}

@media (max-width:550px) {
  .banner-free {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    span {
      width: 80%;
      margin-bottom: 10px;
        img {
          display: none;
        }
    }
    form {
      display: flex;
      row-gap: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      input {
        width: 90%;
      }
      input[type="submit"] {
        padding: 10px 15px;
      }
    }
  }
}