#big-text {
  padding: 90px 0;
  h3 {
    width: 100%;
    margin: 0 auto;
    font-weight: 700;
font-size: 1.8rem;
line-height: 50px;
margin-bottom: 50px;

text-align: center;
text-transform: uppercase;

color: #364C76;
  }
  p {
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
font-size: .8rem;
line-height: 24px;
/* or 150% */


color: #364C76;
  }
}